body,
html {
  font-family: Roboto, Helvetica, sans-serif;
}

@font-face {
    font-family: "QuickSandMedium";
    src: local("QuickSandMedium"),
     url("./assets/fonts/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Garet";
    src: local("Garet"),
    url("./assets/fonts/Garet/Garet-Book.ttf") format("truetype");
    font-weight: medium;
}